@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/topography' as *;
@use '../../styles/partials/variables' as *;

.videoupload {
    padding: 0 1rem 0 1rem;
    @include tablet {
        padding: 0 2.25rem 2rem 2.25rem;
    }
    @include desktop {
        padding: 0 8rem 0 8rem;
    }
  
    &__container-top {
        @include desktop {
            @include flex (row, flex-start, center);
        }
    }
    &__header {
      font-family: 'Avenir Next Bold';
      margin: 2rem 0 2rem 0;
      font-size: 1.5rem;

      @include tablet {
          font-size: 2.0625rem;
        
      }
      @include desktop {
          border-bottom: 1px solid $mercury;
          padding: 0 0 2rem 0;
          margin: 2rem 0 0 0;
      }
    }
    &__container-top {
        @include desktop {
            border-bottom: 1px solid $mercury;
            margin: 2rem 0 2rem 0;
            height: 14.375rem;
        }
    }
    &__video-container {
        margin: 0 0 2rem 0;
        @include tablet {
            border-top: 1px solid $mercury;
            padding: 2rem 0 0 0;
        }
        @include desktop {
        
            border-top: none;
            flex-basis: 35%;
            height: 100%;
            padding: 0 0 0 0;
            margin: 2rem 0 2rem 0;
        }
    
      }
    
    &__label {
      color: $silver;
      font-size: .75rem;
      font-family: 'Avenir Next Regular';
   
  
    }
  
    &__video {
      width: 100%;
      border-radius: .25rem;

      @include tablet {
        margin: .25rem 0 0 0;
      }

      @include desktop {
        height: 11rem;
        width: 20rem;
    
      }
    }
  
    &__form {
        @include tablet {
            border-bottom: 1px solid $mercury;
            margin: 0 0 1rem 0;
        }
        @include desktop {
            border-bottom: none;
            height: 100%;
            margin: 0;
            flex-basis: 65%;
        }
    }
    &__file-input {

      &--desktop {
        display: none;

        @include desktop {
          display: table-column;
          height: 1.5rem;
          width: 20rem;
        }
      }
      @include desktop {
        display: none;
      }
    }

    &__title {
      height: 2.5rem;
      margin: 0.25rem 0 1rem 0;
      border-radius: .25rem;
      width: 100%;
      border: 1px solid $mercury;
      background: $alabaster;
      font-family: 'Avenir Next Regular';
   
      &::placeholder {
        font-size: .8125rem;
        font-family: 'Avenir Next Regular';
        color: $darkblack;
      }
    }
  
    &__description {
      height: 6rem;
      padding-top: 1rem;
      border-radius: .25rem;
      width: 100%;
      border: 1px solid $mercury;
      background: $alabaster;
      font-family: 'Avenir Next Regular';
      margin: .25rem 0 1rem 0;

    
   
      &::placeholder {
        font-size: .8125rem;
        font-family: 'Avenir Next Regular';
        color: $darkblack;
      }
    }
  
    &__container-bottom {
     

        & a{
          flex-basis: 25%;
          text-decoration: none;
        }
      

        @include tablet {
            @include flex (row-reverse, flex-start, center);
            
        }

        & button {
            @include tablet {
                flex-basis: 25%;
            }
        }

      }
  
    &__cancel {
      font-family: 'Avenir Next Regular';
      font-size: .8125rem;
      text-align: center;
      margin: 2rem 0 2rem 0;

      &:hover {
        cursor: pointer;
      }

      @include tablet {
        flex-basis: 25%;
        margin: 0 0 0 auto;
      
    }
        @include desktop {
            margin: 0 0 0 auto;
        }
      a {
        color: $blue;
        text-decoration: none;
      }
    
    }
  }
  

  
