@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/topography' as *;
@use '../../styles/partials/variables' as *;

.videoupload {
    padding: 0 1rem 0 1rem;
    @include tablet {
        padding: 0 2.25rem 2rem 2.25rem;
    }
  
    &__container-top {
        @include desktop {
            @include flex (row, flex-start, center);
        }
    }
    &__header {
      font-family: 'Avenir Next Bold';
      margin: 2rem 0 2rem 0;
      font-size: 1.5rem;

      @include tablet {
          font-size: 2.0625rem;
        
      }
    }
    &__video-container {
        margin: 0 0 2rem 0;
        @include tablet {
            border-top: 1px solid $mercury;
            padding: 2rem 0 2rem 0;
        }
    
      }
  
    &__label {
      color: $silver;
      font-size: .75rem;
      font-family: 'Avenir Next Regular';
   
  
    }
  
    &__video {
      width: 100%;
      border-radius: .25rem;
    }
  
    &__form {
        @include tablet {
            border-bottom: 1px solid $mercury;
            margin: 0 0 1rem 0;
        }
    }
  
    &__title {
      height: 2.5rem;
      margin: 0.25rem 0 1rem 0;
      border-radius: .25rem;
      width: 100%;
      border: 1px solid $mercury;
      background: $alabaster;
      font-family: 'Avenir Next Regular';
   
      &::placeholder {
        font-size: .8125rem;
        font-family: 'Avenir Next Regular';
        color: $darkblack;
      }
    }
  
    &__description {
      height: 6rem;
      padding-top: 1rem;
      border-radius: .25rem;
      width: 100%;
      border: 1px solid $mercury;
      background: $alabaster;
      font-family: 'Avenir Next Regular';
      margin: .25rem 0 1rem 0;

    
   
      &::placeholder {
        font-size: .8125rem;
        font-family: 'Avenir Next Regular';
        color: $darkblack;
      }
    }
  
    &__container-bottom {
        @include tablet {
            @include flex (row-reverse, flex-start, center);
            
        }

        & button {
            @include tablet {
                flex-basis: 25%;
            }
        }

      }
  
    &__cancel {
      font-family: 'Avenir Next Regular';
      font-size: .8125rem;
      text-align: center;
      margin: 2rem 0 2rnpm em 0;

      @include tablet {
        flex-basis: 25%;
       
      
    }
      a {
        color: $blue;
        text-decoration: none;
      }
    
    }
  }
  

  
