@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/topography' as *;
@use '../../styles/partials/variables' as *;

.sidebar {
    border-left: 1px solid $mercury;

    // to get rid of link underline and color
    & a{
        text-decoration: none;
        color: $darkblack;
    }

    @include desktop {
        padding: 0 0 0 1.5rem;
    }

    &__header {
        @include text-style(.75rem, 1.25rem);
        color: $mercury;
        font-family: 'Avenir Next Bold';
        text-align: left;
        padding: 1rem 0 1rem 0;

        @include tablet {
            padding: 1.5rem 0 1.5rem 0;

        }
    }
}