@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/topography' as *;
@use '../../styles/partials/variables' as *;

.currentvideo {
    position: relative;
    

    &__video {
        width: 100%;
    }
    &__controls {
        width: 100%;
        position: absolute;
        bottom: 1rem;
        padding: 0 1rem 0 1rem;
        @include flex(row, space-between, flex-start);
    }
    &__playbutton {
        @include flex(row, center, center);
        background: $black;
        border-radius: .25rem;
        height: 1rem;
        flex-basis: 6%;
        padding: .25rem 0 .25rem 0;
    }
    &__slider {
        background: $black;
        @include flex (row, space-between, center);
        border-radius: .25rem;
        height: 1rem;
        flex-basis: 80%;
        // padding: 0 .5rem 0 .5rem;

        &-bar {
            flex-basis: 77%;
            height: 4px;
            background: $darkblack;
            margin: 0 0 0 0.5rem;

        }
    }
    &__duration {
        color: $white;
        font-size: .5rem;
        flex-basis: 23%;
    }
    &__right {
        background: $black;
        @include flex(row, space-evenly, center);
        border-radius: .25rem;
        height: 1rem;
        flex-basis: 12%;
    }
    &__fullscreen {
        height: 1rem;
    }
    &__volume {
        height: 1rem;
    }
}